!!! 5
%head
    %title Bushido Mongers
    %link{:rel => "stylesheet", :href=>"/main.css", :type=>"text/css"}
%body{:onload => "init()"}
    %script{:type => "text/javascript", :src => "/index.js"}
    .wrapper
        .header
            %h1 Bushido Mongers
        .core
            .control
                %h3 Lobby Info
                %ul
                    %li
                        %a{:href => "#default", :onclick => "focusTab('default')"} General Info
                    %li
                        %a{:href => "#interactive_map", :onclick => "focusTab('interactive_map')"} Interactive Map
                %h3 User List
                %ul
                    -lobby.user_list.each do |user|
                        %li
                            %a{:href => lobby.uri_for(user)}=user
            .content
                %div.tabs
                    %div.hiddentab#default
                        %table
                            %tr
                                %td Users
                                %td= lobby.user_list.size
                            %tr
                                %td State
                                %td= lobby.game_state
                    -if lobby.game_state == :playing || lobby.game_state == :ready
                        %div.hiddentab#interactive_map
                            %div{:style => "position:relative;"}
                                %img{:src => lobby.map_uri, :style => "position:relative;"}
                                -room_layout[:rooms].each do |room, info|
                                    %div{:style => "left:#{info[:cell_coords].x}px; top:#{info[:cell_coords].y}px; width:#{info[:cell_size]}px; height:#{info[:cell_size]}px; position:absolute;"}
                                        %a{:href => lobby.room_uri_for(room.name)}
                                            %span{:style => "width:100%;height:100%;position:absolute;left:0;top:0;"}
        .footer
            %ul.navlist
                %li
                    %a{:href => "/"} Home
